#qrCode {
    width: 100%;
    min-height: fit-content;
    border-radius: 8px;
    margin-top: 20px;
    /* Centrado de contenido */
    display: flex;
    justify-content: center;
    align-items: center;
}

#qrCode img {
    width: 300px;
    border-radius: 8px;
}

