#qrCode {
    width: 90%;
    min-height: fit-content;
    border-radius: 8px;
    margin-top: 20px;
    background-color: white;
    border: #f4f4f4 20px solid;
}

#qrCode img {
    width: 100%;
    border-radius: 8px;
}

.color-preview {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    margin-left: 8px;
    vertical-align: middle;
  }